{% extends 'todo/base.html' %}
{% load static %}

{% block conteudo %}
    <ul>
        {% for tarefa in tarefas %}
            <li class="{% if tarefa.feito  %} feito {% endif %}"> <a class="fa fa-check " href="{% url 'concluir_tarefa' tarefa.id %}"></a> {{tarefa.nome}}
            <a class="fa fa-trash link-deletar" href="{% url 'excluir_tarefa' tarefa.id %}" ></a>
            <br/>
            <small>{{tarefa.data}}  </small> <a href="{% url 'editar_tarefa' tarefa.id %}"> <span class="fa fa-edit"></span> </a> 
            </li>
        {% endfor %}
    </ul>

    <script src="{% static 'todo/confirmar_deletar.js' %}"></script>
{% endblock conteudo %}