.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position : fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* só caso eu quiser implantar o active */
.sidebar a.active {
    background-color: #4CAF50;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    /* essa margin left tem que bater de um jeito que não fique
    abaixo da div dos menus */
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

li {
    margin: 1em;
}

li a{
    text-decoration: none;
    color:red;
}

li small{
    font-size: x-small;
    
}

#cadastrar-tarefa,  #cadastrar-categoria {
    background-color: #c0392b;
    color: white;
}

li.feito{
    text-decoration: line-through;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.fa-edit {
    color: #2980b9;
}
